[Unit]
Description=Temp Service

[Service]
ExecStart=/home/jordan/npm/bin/npm run start-service
WorkingDirectory=/home/jordan/bin/temp
Restart=always
StandardOutput=syslog
StandardError=syslog
SyslogIdentifier=temp
User=jordan
Group=jordan
Environment=NODE_ENV=production
Environment=SERVER_PORT=30026

[Install]
WantedBy=multi-user.target
