[Unit]
Description=System Check Service

[Service]
ExecStart=/home/bcuser/npm/bin/npm run start-service
WorkingDirectory=/home/bcuser/bin/systemcheck
Restart=always
StandardOutput=syslog
StandardError=syslog
SyslogIdentifier=systemcheck
User=bcuser
Group=bcuser
Environment=NODE_ENV=production
Environment=SERVER_PORT=30033
Environment=SETUP_LINUXBOX=/home/bcuser/Git/JsObjects/Utilities/SetupLinuxBox

[Install]
WantedBy=multi-user.target
