[Unit]
Description=System Check Service

[Service]
ExecStart=/home/jordan/npm/bin/npm run start-service
WorkingDirectory=/home/jordan/bin/systemcheck
Restart=always
StandardOutput=syslog
StandardError=syslog
SyslogIdentifier=systemcheck
User=jordan
Group=jordan
Environment=NODE_ENV=production
Environment=SERVER_PORT=30033
Environment=SETUP_LINUXBOX=/home/jordan/Git/JsObjects/Utilities/SetupLinuxBox

[Install]
WantedBy=multi-user.target
